.clickableRow:hover { cursor: pointer; }

.highcharts-credits { display: none }

.GraphingTableContainer {
    height: auto;
    overflow: hidden;
    width: auto;
}

.inputLabel {
	pull-right;
}
.GraphingTable { height: 500px }

#content a {
    color: #ffffff;
}

.hide-overflow {
    overflow:hidden; 
    word-wrap:break-word
}

#content h3 {
    color: inherit;
}