	// Dashboard CSS
	#dashboard .axis path {
        fill: none;
        stroke: white;
        stroke-width: 1px;

    }
    #dashboard .axis text  {
        color:white;
    }
    #dashboard .axis line {
        fill: none;
        stroke: white;
        stroke-width: 2px;
    }

    #dashboard .tick{
        fill: white;
    }
    #dashboard body{
        background-color: #092946;
    }